<%= render "share/header" %>

<div class='title-contents'>
  <div class='title'>
    <h2 class='second-title'>
      <p>毎日の<span class="green">健康</span>を</p>
    </h2>
    <h2 class='third-title'>
      <p><span class="pink">アプリで管理</span>してみませんか？</p>
    </h2>
  </div>
  <div class='image-lists'>
   <li class='list'>
     <%= image_tag "bp.png", class: "list-pict" %>
      <h4 class='image-text'>
       <p><span class="blue">体温や血圧などの記録</span></p>
      </h4>
    </li> 
    <li class='list'>
     <%= image_tag "sport.jpeg", class: "list-pict" %>
      <h4 class='image-text'>
       <p><span class="blue">毎日の運動内容の記録</span></p>
      </h4>
    </li>
    <li class='list'>
     <%= image_tag "eat.jpeg", class: "list-pict" %>
      <h4 class='image-text'>
       <p><span class="blue">食事内容を写真での管理</span></p>
      </h4>
    </li>
  </div>
</div>

